.loginsignup{
    inline-size: 100%;
    block-size: 100vh;
    background: #fce3fe;
    padding-block-start: 40px;
    margin-block-end: 50px;
}
.loginsignup-container{
    inline-size: 500px;
    block-size: 450px;
    background: white;
    margin: auto;
    padding: 10px 40px;
}
.loginsignup-container h1{
    margin: 10px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block-start: 20px;
}
.loginsignup-fields input{
    block-size: 45px;
    inline-size: 94%;
    padding-inline-start: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    inline-size: 100%;
    block-size: 42px;
    color: white;
    background: #ff4141;
    margin-block-start: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-block-start: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-block-start: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:420px){
    .loginsignup{
        margin-block-start: 50px;
        inline-size: 100%;
        block-size: 50vh;
        padding-block-start: 40px;
    }
    .loginsignup-container{
        inline-size: 300px;
        block-size: 375px;
        padding: 10px 20px;
    }
    .loginsignup-container h1{
        font-size: 30px;
        margin: 10px 0px;
    }
    .loginsignup-fields{
        gap: 20px;
        margin-block-start: 20px;
    }
    .loginsignup-fields input{
        block-size: 40px;
        inline-size: 90%;
        padding-inline-start: 15px;
        font-size: 18px;
    }
    .loginsignup-container button{
        inline-size: 96%;
        block-size: 35px;
        margin-block-start: 20px;
        font-size: 18px;
        font-weight: 500;
    }
    .loginsignup-login{
        margin-block-start: 20px;
        font-size: 15px;
        font-weight: 500;
    }
    .loginsignup-login span{
        font-weight: 500;
    }
    .loginsignup-agree{
        margin-block-start: 20px;
        gap: 20px;
        font-size: 13px;
        font-weight: 400;
    }    
}
