.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-block-end: 70px;
}
.new-collections h1{
    color: #171717;
    font-size: 45px;
    font-weight: 600;
}
.new-collections hr{
    inline-size: 200px;
    block-size: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block-start: 50px;
    gap: 20px;
}

@media(max-width:420px){
    .new-collections{
        gap: 3px;
        margin-block-end: 50px;
    }
    .new-collections h1{
        font-size: 25px;
        font-weight: 500;
    }
    .new-collections hr{
        inline-size: 100px;
        block-size: 1px;
    }
    .collections{
        grid-template-columns: 1fr 1fr;
        margin-block-start: 30px;
        gap: 10px;
    }
}
