.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    block-size: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 45px;
    font-weight: 600;
}
.popular hr{
    inline-size: 200px;
    block-size: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-block-start: 50px;
    display: flex;
    gap: 15px;
}